.#*
\#*
*~
*.tmp
*.aux
*.tex
*.toc
*.jpg
*.pdf
.*
*.JPG
code_binding_cores/
code_smx_files_SIGSEVFIX/
documentation.txt
optimizations_experiments/binding_cores/
optimizations_experiments/dynamic_threshold/logs/
optimizations_experiments/pmap_N-1/
optimizations_experiments/pmap_N/
optimizations_experiments/sr_counts/parallel/
optimizations_experiments/sr_counts/sequential/
optimizations_experiments/sr_counts/sequential2/
optimizations_experiments/timings/log/
optimizations_experiments/timings/log_amdahl/
orgmodeDemo.org
*.log
*.out
*.c
*.h
sud14orgfiles/
talk_internalsMt.org


optimizations_experiments/sr_counts/sr-distribution.Rda
